<form [formGroup]="userProfileForm" novalidate>
  <md-card>
    <md-card-content fxLayout="column" fxLayoutAlign="space-between center" fxFill>
      <div fxLayout fxFill>
        <label fxFlex>Change Username</label>
      </div>
      <div fxLayout="row" fxFill>

          <md-input-container fxFlex>
              <input mdInput placeholder="Username" formControlName="username" appUniqueValidator keyUrl="user/username/validate" keyId="0"  required>
              <md-error *ngIf="userProfileForm.get('username').hasError('required')">
                Username is <strong>required</strong>
              </md-error>
              <md-error *ngIf="userProfileForm.get('username').hasError('asyncInvalid')">
                Username is not <strong>available</strong>
              </md-error>
          </md-input-container>


      </div>    
                
    </md-card-content>

    <md-card-actions> 
      <div fxLayout fxFill fxLayoutAlign="center center">
        
        <button md-raised-button [disabled]="userProfileForm.invalid || userProfileForm.pristine" (click)="changeUsername()"  color="accent">Change Username</button>

      </div>
    </md-card-actions> 
  </md-card>
</form>