

.report-area {
    height: 600px;
}

.category {
    font-size: 15px;
    font-weight: bold; 
    text-transform: uppercase;
}

.subCategory {
    text-indent: 20px;
}

.display-none {
    display: none;
}