<form [formGroup]="userProfilePasswordForm" novalidate>
  <md-card>
    <md-card-content fxLayout="column" fxLayoutAlign="space-between center" fxFill>
      <div fxLayout fxFill>
        <label fxFlex>Change Password</label>
      </div>
      <div fxLayout="row" fxFill>

          <md-input-container fxFlex>
              <input type="password" mdInput placeholder="Password" formControlName="password" appUniqueValidator keyUrl="user/password/validate" keyId="0"  required>
              <md-error *ngIf="userProfilePasswordForm.get('password').hasError('required')">
                Password is <strong>required</strong>
              </md-error>
              <md-error *ngIf="userProfilePasswordForm.get('password').hasError('asyncInvalid')">
                Incorrect <strong>Password</strong>
              </md-error>
          </md-input-container>

      </div>    

      <div fxLayout="row" fxFill>
        
          <md-input-container fxFlex>
              <input type="password" mdInput placeholder="New Password" formControlName="newPassword"  required>
              <md-error>
                  New Password is <strong>required</strong>
              </md-error>
          </md-input-container>

          <md-input-container fxFlex>
            <input type="password" mdInput placeholder="Confirm New Password" formControlName="confirmPassword" required>
            <md-error *ngIf="userProfilePasswordForm.get('confirmPassword').hasError('required')">
                Confirm New Password is <strong>required</strong>
            </md-error>
            <md-error *ngIf="userProfilePasswordForm.get('confirmPassword').hasError('matchPassword')">
              Confirm New Password does not <strong>match</strong>
          </md-error>
        </md-input-container>
        
      </div>    
                
    </md-card-content>

    <md-card-actions> 
      <div fxLayout fxFill fxLayoutAlign="center center">
        
        <button md-raised-button [disabled]="userProfilePasswordForm.invalid || userProfilePasswordForm.pristine" (click)="changePassword()"  color="accent">Change Password</button>

      </div>
    </md-card-actions> 
  </md-card>
</form>