<form [formGroup]="deathForm" novalidate>
  <md-card>
    <md-card-content fxLayout="column" fxLayoutAlign="space-between center" fxFill>
      
      <div fxLayout="row" fxFill>

          <md-input-container fxFlex="80">
              <input mdInput placeholder="Deceased Name" formControlName="deceased_name" required>
              <md-error>
                Deceased Name is <strong>required</strong>
              </md-error>
          </md-input-container>

            <div fxFlex="20">
                <md-input-container >
                  <input mdInput [mdDatepicker]="deathDate" placeholder="Date of Death" formControlName="date_death" required>
                  <md-hint align="start"><strong>Click the Date Icon to select</strong> </md-hint>
                  <button mdSuffix [mdDatepickerToggle]="deathDate"></button>
                  <md-error>
                      Date of Death is <strong>required</strong>
                  </md-error>
                </md-input-container>
                <md-datepicker #deathDate [startAt]="startDate"></md-datepicker>
            </div>

      </div>  
      
      <div fxLayout="row" fxFill>

          <md-input-container fxFlex>
              <input mdInput placeholder="Residence" formControlName="residence" required>
              <md-error>
                Residence is <strong>required</strong>
              </md-error>
          </md-input-container>

      </div>


      <div fxLayout="row" fxFill>
          
          <md-input-container fxFlex="80">
            <input mdInput placeholder="Place of Burial" formControlName="place_burial" required>
            <md-error>
              Place of Burial is <strong>required</strong>
            </md-error>
          </md-input-container>
          
          <div fxFlex="20">
            <md-input-container >
              <input mdInput [mdDatepicker]="picker" placeholder="Date of Burial" formControlName="date_burial" >
              <md-hint align="start"><strong>Click the Date Icon to select</strong> </md-hint>
              <button mdSuffix [mdDatepickerToggle]="picker"></button>
              <md-error>
                Date of Burial is <strong>required</strong>
              </md-error>
            </md-input-container>
            <md-datepicker #picker [startAt]="startDate"></md-datepicker>
          </div>
          
      </div>
      
      
      <div fxLayout="row" fxFill>
          
        <md-input-container fxFlex>
            <input type="number" mdInput placeholder="Book No" formControlName="book_no" required>
            <md-error>
              Book No is <strong>required and must be number with a minimum of 1</strong>
            </md-error>
        </md-input-container>
              
        <md-input-container fxFlex>
            <input type="number" mdInput placeholder="Page No" min="1" formControlName="page_no" required>
            <md-error>
                Page No is <strong>required and must be number with a minimum of 1</strong>
            </md-error>
        </md-input-container>

        <md-input-container fxFlex>
            <input type="number" mdInput placeholder="Entry No" min="1" formControlName="entry_no" required>
            <md-error>
                Entry No is <strong>required and must be number with a minimum of 1</strong>
            </md-error>
        </md-input-container>
          
      </div>


      <div fxLayout="row" fxFill>

        <md-input-container fxFlex="66" class="tricky-select">
            <input type="text" mdInput style="display:none;">
            <md-select fxFlex="66"  formControlName="minister_id" placeholder="Minister" required>
                <md-option *ngFor="let minister of ministers"  [value]="minister.minister_id">
                    {{ minister.minister_name }}
                </md-option>
            </md-select>
            <md-hint *ngIf="deathForm.get('minister_id').hasError('required') && deathForm.get('minister_id').touched" style="color:red;">
                Minister is <strong>required</strong>
            </md-hint>
        </md-input-container>
          
      </div>

      
                
    </md-card-content>

    <md-card-actions> 
      <div fxLayout fxFill fxLayoutAlign="center center">
        
        <button md-raised-button [disabled]="deathForm.invalid || deathForm.pristine" (click)="saveForm()"  color="accent">Save Changes</button>

        <button md-raised-button *ngIf="death_id.value != 0" [disabled]="deathForm.pristine" (click)="revertForm()"  color="warn">Revert Changes</button>

        <button md-raised-button *ngIf="death_id.value == 0"   [disabled]="deathForm.pristine" (click)="resetForm()"  color="warn">Reset</button>
        
      </div>
    </md-card-actions> 
  </md-card>
</form>