<form [formGroup]="ministerForm" novalidate>
    <md-card>
      <md-card-content fxLayout="column" fxLayoutAlign="space-between center" fxFill>
        
        <div fxLayout="row" fxFill>
  
            <md-input-container fxFlex>
                <input mdInput placeholder="Minister Name" formControlName="minister_name" required>
                <md-error>
                  Minister Name is <strong>required</strong>
                </md-error>
            </md-input-container>
  
        </div>    
                  
      </md-card-content>
  
      <md-card-actions> 
        <div fxLayout fxFill fxLayoutAlign="center center">
          
          <button md-raised-button [disabled]="ministerForm.invalid || ministerForm.pristine" (click)="saveForm()"  color="accent">Save Changes</button>
  
          <button md-raised-button *ngIf="minister_id.value != 0" [disabled]="ministerForm.pristine" (click)="revertForm()"  color="warn">Revert Changes</button>
  
          <button md-raised-button *ngIf="minister_id.value == 0"   [disabled]="ministerForm.pristine" (click)="resetForm()"  color="warn">Reset</button>
          
        </div>
      </md-card-actions> 
    </md-card>
  </form>